!!! XML
!!!
%html
%head
  %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
  :css
    h2 { font-weight: normal; }
    body { font-size: 85% }
    ul { margin: 0; padding: 0;}
    li { margin: 0; padding: 0;}
    div.comment { font-size: 80% }
  %title NetBSD Manpages
  %script{:type => "text/javascript", :src => "js/jquery-1.6.min.js"}
  %script{:type => "text/javascript", :src => "js/jquery.livesearch.js"}
  :javascript
    (function($) {
      $(document).ready(function() {
        $('input[name="q"]').search('li.mantreeitem', function(on) {
          on.all(function(results) {
            var size = results ? results.size() : 0
            $('#count').text(size + ' results');
          });
          on.reset(function() {
            $('#none').hide();
            $('li.mantreeitem').show();
          });
          on.empty(function() {
            $('#none').show();
            $('li.mantreeitem').hide();
          });
          on.results(function(results) {
            $('#none').hide();
            $('li.mantreeitem').hide();
            results.show();
          });
        });
      });
    })(jQuery);
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-158383-4']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
%body
%h1 NetBSD Manpages
.filterbox
  Live Search (
  %span{:id => "count"}
  ) :
  %br
  %input{:type => "text", :name => "q"}
%hr
.dirtree
  %h2 man9
  %ul{:class => "mantree"}
    - `find org_netbsd/src/share/man/man9 -name "*.html"`.sort.each do |a| a.chop!
      %li{:class => "mantreeitem"}
        %a{:href => "#{a}", :target => "manpage"} #{a.sub("org_netbsd/src/share/man/man9/","").sub(/\.html$/,"")}
        - j = a.sub(/^org_netbsd/, "translated").sub(/man\/man/, "man/ja/man")
        - if File.exist? j then
          [
          %a{:href => "#{j}", :target => "manpage"}> ja
          ]
%hr
.comment
  = require 'date'; "HTMLized at \"#{DateTime.now.ctime}\"."
  %br
  See
  %a{:href => "https://gitorious.org/netbsd-man-translate", :target => "_blank"} https://gitorious.org/netbsd-man-translate
  for source code.
